wsdl/wsdlACMEGestioneOrdini.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mytest.test.com.wsdl" xmlns:xsd1="mytest.test.com.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="mytest.test.com.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="mytest.test.com.xsd" xmlns:sch="mytest.test.com.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="getIdOrdine"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="getIdOrdineResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="idOrdine" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="verificaCustomizzazioni"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="idOrdine" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="verificaCustomizzazioniResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="customizzazioniPossibili" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="IdOrdine">
    <wsdl:part name="body" element="xsd1:verificaCustomizzazioni"/>
  </wsdl:message>
  <wsdl:message name="EsitoVerificaCustomizzazioni">
    <wsdl:part name="body" element="xsd1:verificaCustomizzazioniResponse"/>
  </wsdl:message>
  <wsdl:message name="empty">
    <wsdl:part name="body" element="xsd1:getIdOrdine"/>
  </wsdl:message>
  <wsdl:portType name="ACMEGestioneOrdini">
    <wsdl:operation name="getIdOrdine">
      <wsdl:input message="tns:empty"/>
      <wsdl:output message="tns:IdOrdine"/>
    </wsdl:operation>
    <wsdl:operation name="verificaCustomizzazioni">
      <wsdl:input message="tns:IdOrdine"/>
      <wsdl:output message="tns:EsitoVerificaCustomizzazioni"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ACMEGestioneOrdiniSOAPBinding" type="tns:ACMEGestioneOrdini">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getIdOrdine">
      <soap:operation soapAction="getIdOrdine" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaCustomizzazioni">
      <soap:operation soapAction="verificaCustomizzazioni" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACMEGestioneOrdiniService">
    <wsdl:port name="ACMEGestioneOrdiniServicePort" binding="tns:ACMEGestioneOrdiniSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
